<a href="https://colab.research.google.com/github/brendanpshea/database_sql/blob/main/data/GothamCityBank_Generator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# use sql magic to connect to sqlite db
%load_ext sql
%sql sqlite:///gotham.db

In [2]:
%%sql
DROP TABLE IF EXISTS Customers;
DROP TABLE IF EXISTS Accounts;

-- Create Customers table
CREATE TABLE Customers (
    CustomerID INTEGER PRIMARY KEY AUTOINCREMENT,
    FirstName VARCHAR(50) NOT NULL,
    LastName VARCHAR(50) NOT NULL,
    MiddleInitial CHAR(1),
    Address VARCHAR(255),
    City VARCHAR(50),
    State VARCHAR(50),
    ZipCode VARCHAR(10),
    PhoneNumber VARCHAR(15),
    Email VARCHAR(100)
);

-- Create Accounts table
CREATE TABLE Accounts (
    AccountID INTEGER PRIMARY KEY AUTOINCREMENT,
    CustomerID INT,
    AccountType VARCHAR(20),
    Balance DECIMAL(15, 2) DEFAULT 0.00,
    CreatedDate DATE,
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

 * sqlite:///gotham.db
Done.
Done.
Done.
Done.

[]

In [3]:
%%sql
DELETE FROM Customers;
DELETE FROM Accounts;

-- Insert data into Customers table
INSERT INTO Customers (CustomerID, FirstName, LastName, Address, City, State, ZipCode, PhoneNumber, Email) VALUES
(1, 'Bruce', 'Wayne', '1007 Mountain Drive', 'Gotham', 'NY', '10001', '123-456-7890', 'bruce.wayne@gothambank.com'),
(2, 'Selina', 'Kyle', '123 Cat St', 'Blüdhaven', 'NY', '20002', '234-567-8901', 'selina.kyle@gothambank.com'),
(3, 'James', 'Gordon', '789 Police Plaza', 'Gotham', 'NY', '10003', '345-678-9012', 'james.gordon@gothambank.com'),
(4, 'Harvey', 'Dent', '456 Lawyer Ave', 'Metropolis', 'NY', '30004', '456-789-0123', 'harvey.dent@gothambank.com'),
(5, 'Pamela', 'Isley', '369 Botanic St', 'Gotham', 'NY', '10005', '567-890-1234', 'pamela.isley@gothambank.com'),
(6, 'Edward', 'Nygma', '101 Puzzle Ln', 'Gotham', 'NY', '10006', '678-901-2345', 'edward.nygma@gothambank.com'),
(7, 'Oswald', 'Cobblepot', '666 Iceberg Dr', 'Gotham', 'NY', '10007', '789-012-3456', 'oswald.cobblepot@gothambank.com'),
(8, 'Jonathan', 'Crane', '742 Fear Blvd', 'Star City', 'NY', '40008', '890-123-4567', 'jonathan.crane@gothambank.com'),
(9, 'Barbara', 'Gordon', '789 Police Plaza', 'Gotham', 'NY', '10009', '901-234-5678', 'barbara.gordon@gothambank.com'),
(11, 'Lucius', 'Fox', '333 Wayne Tower', 'Gotham', 'NY', '10010', '012-345-6789', 'lucius.fox@gothambank.com'),
(12, 'Alfred', 'Pennyworth', '1007 Mountain Drive', 'Gotham', 'NY', '10011', '123-456-7891', 'alfred.pennyworth@gothambank.com'),
(13, 'Vicki', 'Vale', '888 Reporter Rd', 'Gotham', 'NY', '10012', '234-567-8902', 'vicki.vale@gothambank.com');

-- Insert data into Accounts table
INSERT INTO Accounts (CustomerID, AccountType, Balance, CreatedDate) VALUES
(1, 'Checking', 75000.00, '2021-01-10'),
(1, 'Savings', 15000.00, '2021-02-11'),
(2, 'Checking', 32000.00, '2022-03-05'),
(3, 'Checking', 86000.00, '2023-04-15'),
(4, 'Checking', 22000.00, '2024-05-20'),
(4, 'Savings', 45000.00, '2024-06-21'),
(5, 'Checking', 65000.00, '2024-07-30'),
(6, 'Checking', 450.00, '2024-08-01'),
(7, 'Checking', 35000.00, '2024-09-05'),
(8, 'Checking', 91000.00, '2024-10-10'),
(9, 'Checking', 3000.00, '2024-11-15'),
(10, 'Checking', 4500.00, '2024-12-20'),
(10, 'Savings', 8500.00, '2025-01-21'),
(11, 'Checking', 15000.00, '2025-02-25'),
(11, 'Savings', 67000.00, '2025-03-26'),
(12, 'Checking', 45000.00, '2025-04-30'),
(12, 'Savings', 7100.00, '2025-05-01');


-- Check the data
SELECT * FROM Customers JOIN Accounts ON Customers.CustomerID = Accounts.CustomerID;

 * sqlite:///gotham.db
0 rows affected.
0 rows affected.
12 rows affected.
17 rows affected.
Done.

[(1, 'Bruce', 'Wayne', None, '1007 Mountain Drive', 'Gotham', 'NY', '10001', '123-456-7890', 'bruce.wayne@gothambank.com', 1, 1, 'Checking', 75000, '2021-01-10'),
 (1, 'Bruce', 'Wayne', None, '1007 Mountain Drive', 'Gotham', 'NY', '10001', '123-456-7890', 'bruce.wayne@gothambank.com', 2, 1, 'Savings', 15000, '2021-02-11'),
 (2, 'Selina', 'Kyle', None, '123 Cat St', 'Blüdhaven', 'NY', '20002', '234-567-8901', 'selina.kyle@gothambank.com', 3, 2, 'Checking', 32000, '2022-03-05'),
 (3, 'James', 'Gordon', None, '789 Police Plaza', 'Gotham', 'NY', '10003', '345-678-9012', 'james.gordon@gothambank.com', 4, 3, 'Checking', 86000, '2023-04-15'),
 (4, 'Harvey', 'Dent', None, '456 Lawyer Ave', 'Metropolis', 'NY', '30004', '456-789-0123', 'harvey.dent@gothambank.com', 5, 4, 'Checking', 22000, '2024-05-20'),
 (4, 'Harvey', 'Dent', None, '456 Lawyer Ave', 'Metropolis', 'NY', '30004', '456-789-0123', 'harvey.dent@gothambank.com', 6, 4, 'Savings', 45000, '2024-06-21'),
 (5, 'Pamela', 'Isley', None, '369 Botanic St', 'Gotham', 'NY', '10005', '567-890-1234', 'pamela.isley@gothambank.com', 7, 5, 'Checking', 65000, '2024-07-30'),
 (6, 'Edward', 'Nygma', None, '101 Puzzle Ln', 'Gotham', 'NY', '10006', '678-901-2345', 'edward.nygma@gothambank.com', 8, 6, 'Checking', 450, '2024-08-01'),
 (7, 'Oswald', 'Cobblepot', None, '666 Iceberg Dr', 'Gotham', 'NY', '10007', '789-012-3456', 'oswald.cobblepot@gothambank.com', 9, 7, 'Checking', 35000, '2024-09-05'),
 (8, 'Jonathan', 'Crane', None, '742 Fear Blvd', 'Star City', 'NY', '40008', '890-123-4567', 'jonathan.crane@gothambank.com', 10, 8, 'Checking', 91000, '2024-10-10'),
 (9, 'Barbara', 'Gordon', None, '789 Police Plaza', 'Gotham', 'NY', '10009', '901-234-5678', 'barbara.gordon@gothambank.com', 11, 9, 'Checking', 3000, '2024-11-15'),
 (11, 'Lucius', 'Fox', None, '333 Wayne Tower', 'Gotham', 'NY', '10010', '012-345-6789', 'lucius.fox@gothambank.com', 14, 11, 'Checking', 15000, '2025-02-25'),
 (11, 'Lucius', 'Fox', None, '333 Wayne Tower', 'Gotham', 'NY', '10010', '012-345-6789', 'lucius.fox@gothambank.com', 15, 11, 'Savings', 67000, '2025-03-26'),
 (12, 'Alfred', 'Pennyworth', None, '1007 Mountain Drive', 'Gotham', 'NY', '10011', '123-456-7891', 'alfred.pennyworth@gothambank.com', 16, 12, 'Checking', 45000, '2025-04-30'),
 (12, 'Alfred', 'Pennyworth', None, '1007 Mountain Drive', 'Gotham', 'NY', '10011', '123-456-7891', 'alfred.pennyworth@gothambank.com', 17, 12, 'Savings', 7100, '2025-05-01')]

In [4]:
import sqlite3
import random
import string
from datetime import datetime, timedelta

# Connect to the database (or create it if it doesn't exist)
conn = sqlite3.connect('gotham.db')
c = conn.cursor()

# Create tables if they don't exist
c.execute('''CREATE TABLE IF NOT EXISTS Customers (
    CustomerID INTEGER PRIMARY KEY AUTOINCREMENT,
    FirstName TEXT NOT NULL,
    LastName TEXT NOT NULL,
    MiddleInitial TEXT,
    Address TEXT,
    City TEXT,
    State TEXT,
    ZipCode TEXT,
    PhoneNumber TEXT,
    Email TEXT
)''')

c.execute('''CREATE TABLE IF NOT EXISTS Accounts (
    AccountID INTEGER PRIMARY KEY AUTOINCREMENT,
    CustomerID INTEGER,
    AccountType TEXT,
    Balance REAL DEFAULT 0.00,
    CreatedDate TEXT,
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
)''')

# Lists of names and addresses
first_names = ["Bruce", "Clark", "Diana", "Barry", "Hal", "Oliver", "Dinah", "Arthur", "Victor", "Billy",
               "Peter", "Tony", "Steve", "Natasha", "Thor", "Loki", "Wanda", "Vision", "T'Challa", "Stephen", "Matt", "Frank",
               "Jessica", "Luke", "Danny", "Elektra", "Wade", "Logan", "Scott", "Jean", "Ororo", "Rogue", "Charles", "Erik",
               "Raven", "Hank", "Warren", "Bobby", "Kitty", "Kurt", "Reed", "Susan", "Johnny", "Ben", "Hellboy", "Liz", "Abe",
               "Johann", "Roger"]
last_names = ["Wayne", "Kent", "Prince", "Allen", "Jordan", "Queen", "Lance", "Curry", "Stone", "Batson", "Parker", "Stark",
              "Rogers", "Romanoff", "Odinson", "Laufeyson", "Maximoff", "Shade", "Udaku", "Strange", "Murdock", "Castle",
              "Jones", "Cage", "Rand", "Natchios", "Wilson", "Howlett", "Summers", "Grey", "Munroe", "LeBeau", "Xavier",
              "Lehnsherr", "Darkholme", "McCoy", "Worthington", "Drake",
              "Pryde", "Wagner", "Richards", "Storm", "Storm", "Grimm", "Bruttenholm", "Sherman", "Sapien", "Krauss", "Homunculus"]

middle_initials = list(string.ascii_uppercase)
streets = ["Mountain Drive", "Kent Lane", "Prince Street", "Allen Avenue", "Jordan Boulevard", "Curry Road", "Stone Street", "Queen Avenue", "Zor-El Lane", "Kyle Street", "Lane Road", "Quinn Drive", "Isley Avenue", "Crane Road", "Luthor Boulevard", "Drake Street"]

# Dictionary of cities with corresponding states and zip codes
locations = {
    "Gotham": ("NY", ["10001", "10002", "10003", "10004"]),
    "Blüdhaven": ("NJ", ["07001", "07002", "07003", "07004"]),
    "Metropolis": ("NY", ["10101", "10102", "10103", "10104"]),
    "Star City": ("CA", ["90001", "90002", "90003", "90004"])
}
phone_prefixes = ["123", "234", "345", "456", "567", "678", "789", "890"]

def random_date(start, end):
    return start + timedelta(days=random.randint(0, int((end - start).days)))

def generate_balance():
    # Generate balance using triangular distribution skewed towards lower values
    return round(random.triangular(10, 50000, 7500), 2)

def create_customers_and_accounts(num_customers=10000, num_accounts=15000):
    # Insert customers
    for _ in range(num_customers):
        first_name = random.choice(first_names)
        last_name = random.choice(last_names)
        middle_initial = random.choice(middle_initials)
        address = f"{random.randint(1, 9999)} {random.choice(streets)}"

        # Make Gotham more common
        if random.random() < 0.5:
            city = "Gotham"
        else:
            city = random.choice(list(locations.keys()))

        state, zip_codes = locations[city]
        zip_code = random.choice(zip_codes)
        phone_number = f"{random.choice(phone_prefixes)}-{random.randint(100, 999)}-{random.randint(1000, 9999)}"

        # choose email suffix from list
        email_suffixes = ["gotham.edu", "wayne.com", "gmail.com", "yahoo.com", "outlook.com", "hotmail.com"]
        email_suffix = random.choice(email_suffixes)
        email = f"{first_name.lower()}.{last_name.lower()}@{email_suffix}"

        c.execute('''INSERT INTO Customers (FirstName, LastName, MiddleInitial, Address, City, State, ZipCode, PhoneNumber, Email)
                     VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)''',
                  (first_name, last_name, middle_initial, address, city, state, zip_code, phone_number, email))

    # Commit the changes to get CustomerIDs
    conn.commit()

    # Get all customer IDs
    c.execute("SELECT CustomerID FROM Customers")
    customer_ids = [row[0] for row in c.fetchall()]

    # Insert accounts
    account_types = ["Checking", "Savings"]
    start_date = datetime.strptime('2003-01-01', '%Y-%m-%d')
    end_date = datetime.strptime('2023-12-31', '%Y-%m-%d')

    for _ in range(num_accounts):
        customer_id = random.choice(customer_ids)
        account_type = random.choice(account_types)
        balance = generate_balance()

        # if account is savings, multiply
        if account_type == "Savings":
            balance *= 1.87

        created_date = random_date(start_date, end_date).strftime('%Y-%m-%d')

        c.execute('''INSERT INTO Accounts (CustomerID, AccountType, Balance, CreatedDate)
                     VALUES (?, ?, ?, ?)''',
                  (customer_id, account_type, balance, created_date))

    # Commit the changes
    conn.commit()

# Create customers and accounts
create_customers_and_accounts()

# Close the connection
conn.close()

In [5]:
%%sql
SELECT * FROM Accounts ORDER BY AccountID LIMIT 20 ;

 * sqlite:///gotham.db
Done.

[(1, 1, 'Checking', 75000, '2021-01-10'),
 (2, 1, 'Savings', 15000, '2021-02-11'),
 (3, 2, 'Checking', 32000, '2022-03-05'),
 (4, 3, 'Checking', 86000, '2023-04-15'),
 (5, 4, 'Checking', 22000, '2024-05-20'),
 (6, 4, 'Savings', 45000, '2024-06-21'),
 (7, 5, 'Checking', 65000, '2024-07-30'),
 (8, 6, 'Checking', 450, '2024-08-01'),
 (9, 7, 'Checking', 35000, '2024-09-05'),
 (10, 8, 'Checking', 91000, '2024-10-10'),
 (11, 9, 'Checking', 3000, '2024-11-15'),
 (12, 10, 'Checking', 4500, '2024-12-20'),
 (13, 10, 'Savings', 8500, '2025-01-21'),
 (14, 11, 'Checking', 15000, '2025-02-25'),
 (15, 11, 'Savings', 67000, '2025-03-26'),
 (16, 12, 'Checking', 45000, '2025-04-30'),
 (17, 12, 'Savings', 7100, '2025-05-01'),
 (18, 3046, 'Checking', 8614.09, '2018-06-05'),
 (19, 2072, 'Savings', 8193.9286, '2019-08-30'),
 (20, 76, 'Savings', 39419.7122, '2016-12-02')]

In [6]:
%%sql
SELECT * FROM Customers LIMIT 20;

 * sqlite:///gotham.db
Done.

[(1, 'Bruce', 'Wayne', None, '1007 Mountain Drive', 'Gotham', 'NY', '10001', '123-456-7890', 'bruce.wayne@gothambank.com'),
 (2, 'Selina', 'Kyle', None, '123 Cat St', 'Blüdhaven', 'NY', '20002', '234-567-8901', 'selina.kyle@gothambank.com'),
 (3, 'James', 'Gordon', None, '789 Police Plaza', 'Gotham', 'NY', '10003', '345-678-9012', 'james.gordon@gothambank.com'),
 (4, 'Harvey', 'Dent', None, '456 Lawyer Ave', 'Metropolis', 'NY', '30004', '456-789-0123', 'harvey.dent@gothambank.com'),
 (5, 'Pamela', 'Isley', None, '369 Botanic St', 'Gotham', 'NY', '10005', '567-890-1234', 'pamela.isley@gothambank.com'),
 (6, 'Edward', 'Nygma', None, '101 Puzzle Ln', 'Gotham', 'NY', '10006', '678-901-2345', 'edward.nygma@gothambank.com'),
 (7, 'Oswald', 'Cobblepot', None, '666 Iceberg Dr', 'Gotham', 'NY', '10007', '789-012-3456', 'oswald.cobblepot@gothambank.com'),
 (8, 'Jonathan', 'Crane', None, '742 Fear Blvd', 'Star City', 'NY', '40008', '890-123-4567', 'jonathan.crane@gothambank.com'),
 (9, 'Barbara', 'Gordon', None, '789 Police Plaza', 'Gotham', 'NY', '10009', '901-234-5678', 'barbara.gordon@gothambank.com'),
 (11, 'Lucius', 'Fox', None, '333 Wayne Tower', 'Gotham', 'NY', '10010', '012-345-6789', 'lucius.fox@gothambank.com'),
 (12, 'Alfred', 'Pennyworth', None, '1007 Mountain Drive', 'Gotham', 'NY', '10011', '123-456-7891', 'alfred.pennyworth@gothambank.com'),
 (13, 'Vicki', 'Vale', None, '888 Reporter Rd', 'Gotham', 'NY', '10012', '234-567-8902', 'vicki.vale@gothambank.com'),
 (14, 'Susan', 'Kent', 'V', '5017 Stone Street', 'Gotham', 'NY', '10003', '456-402-5504', 'susan.kent@wayne.com'),
 (15, 'Hank', 'Lance', 'A', '9567 Kyle Street', 'Gotham', 'NY', '10002', '789-725-6432', 'hank.lance@wayne.com'),
 (16, 'Clark', 'Lance', 'L', '2405 Luthor Boulevard', 'Gotham', 'NY', '10001', '890-327-6626', 'clark.lance@gmail.com'),
 (17, 'Scott', 'Jones', 'I', '5729 Drake Street', 'Gotham', 'NY', '10001', '567-783-7309', 'scott.jones@outlook.com'),
 (18, 'Jessica', 'Castle', 'Y', '3290 Queen Avenue', 'Gotham', 'NY', '10001', '345-407-5807', 'jessica.castle@gotham.edu'),
 (19, 'Johnny', 'Pryde', 'E', '6749 Crane Road', 'Gotham', 'NY', '10002', '890-272-1816', 'johnny.pryde@outlook.com'),
 (20, 'Roger', 'Odinson', 'H', '6015 Zor-El Lane', 'Gotham', 'NY', '10001', '890-563-9728', 'roger.odinson@hotmail.com'),
 (21, 'Clark', 'Grey', 'Q', '5713 Kyle Street', 'Gotham', 'NY', '10001', '567-349-3478', 'clark.grey@gotham.edu')]